.nav1 {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 20px;
  background: rgb(255, 147, 47);
  background: linear-gradient(90deg, rgba(255, 147, 47, 1) 1%, rgb(254, 250, 1) 100%);
}

.nav1 .shop-name {
  font-size: 24px;
  font-weight: 600;
}

.nav1 .nav {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 550;
}

.nav1 .nav11 {
  cursor: pointer;
  color: Black;
  text-decoration: none;
}

.nav1 .nav .nav11:hover {
  transform: scale(1.2);
  color: orangered;
  text-decoration: underline;
}